*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
 background-color: rgb(16, 8, 63);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

button{
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    color: rgb(108, 95, 121);
    background-color: rgb(56, 7, 54);
    transition: background-color  0.1s ease-in;
}

button:hover{
    background-color: rgb(95, 11, 92);
}
.container{
    padding: 20px;
    /* border: rgb(230, 225, 225) solid 1px; */
    background-color: rgb(77, 17, 88);
    border-radius: 10px;
 
}

.Calculator{
    /* border: red solid 1px; */
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    max-width: fit-content;
    border-radius: 5px;
    
}
.screen{
padding: 20px;
width: 100%;
font-size: 70px;
height: 80px;
font-weight: 600;
font-family: monospace;
padding: 13px;
text-align: right;
color: aliceblue;
font-size: 20px;
/* border: red solid 1px; */
background-color: rgb(101, 27, 119);
margin-bottom: 20px;
border-radius: 10px;
}

.bnt-grid{
    padding: 10px 8px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
.operator{
color:rgb(132, 46, 230) ;
}
.operator.C{
color: red;
}
.display1.div1{
font-size: 1rem;

}

.display2.div2{
    margin: solid 1px #c2dab8 ;
    font-size: 30px;
    /* background-color: #eea73d; */
}
.equal.operator{
    background-color: rgb(179, 115, 20);
    transition: background-color  0.1s ease-in-out;
}

.equal.operator:hover{
    background-color: #eea73d;
    color:rgb(78, 11, 155) ;;
}

