 /* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
 background-color: rgb(16, 8, 63);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}


button{
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    color: rgb(108, 95, 121);
    background-color: rgb(56, 7, 54);
    transition: background-color  0.1s ease-in;
} */



/* button:hover{
    background-color: rgb(95, 11, 92);
}


.container{ */
    /* padding: 20px; */
    /* border: rgb(230, 225, 225) solid 1px; */
    /* background-color: rgb(77, 17, 88);
    border-radius: 10px;
}



.Calculator{ */
    /* border: red solid 1px; */
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    /* max-width: fit-content;
    border-radius: 5px; */
/*     
}
.screen{
padding: 20px;
width: 100%;
font-size: 70px;
height: 80px;
font-weight: 600;
font-family: monospace;
padding: 13px;
text-align: right;
color: aliceblue;
font-size: 20px;
/* border: red solid 1px; */
/* background-color: rgb(101, 27, 119);
margin-bottom: 20px;
border-radius: 10px;
}

.bnt-grid{
    padding: 10px 8px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
.operator{
color:rgb(132, 46, 230) ;
}
.operator.C{
color: red;
}
.display1.div1{
font-size: 1rem;

}

.display2.div2{
    margin: solid 1px #c2dab8 ;
    font-size: 30px; */
    /* background-color: #eea73d; */
/* }
.equal.operator{
    background-color: rgb(179, 115, 20);
    transition: background-color  0.1s ease-in-out;
}

.equal.operator:hover{
    background-color: #eea73d;
    color:rgb(78, 11, 155) ;;
}  */







/* css part two */






*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(5, 19, 60); 
    font-family: Arial, Helvetica, sans-serif;
    
}



.Calculator{
max-width: 400px;
background-color: rgb(3, 7, 49);
margin: 100px auto;
padding: 30px 30px 30px 30px;
border-radius: 20px;
}

.Calculator > .screen{

    width: 100%;
    background-color: rgb(3, 24, 53);
    padding: 20px;
    text-align: right;
    color: rgb(60, 123, 177);
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;

}

.screen > .display1{

    font-size: 35px;
    
}

.Calculator > .bnt-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.Calculator >  .bnt-grid > button{
    background-color: rgb(109, 102, 141);
    border: none;
    padding: 10px;
    border-radius: 50px;
    border-width: 5px;
    font-size: 25px;
    transition: background-color 1s  ease-out;
}

.Calculator > .bnt-grid > button:hover{
    background-color: rgb(64, 64, 96);
    color: rgb(117, 111, 111);
}


.Calculator > .bnt-grid > button:last-child {
    background-color: rgb(121, 105, 4);
    transition: background-color 1s  ease-out;
    color: black;
}

.Calculator > .bnt-grid > button:last-child:hover{
    background-color: rgb(204, 192, 16);
}


.Calculator > .bnt-grid > button:first-child{
    background-color: rgb(70, 13, 64);
    transition: background-color 1s  ease-out;
}

.Calculator > .bnt-grid > button:first-child:hover{
    background-color: rgb(97, 9, 88);
    color: rgb(65, 4, 4);;
}

.Calculator > .bnt-grid > button{
    color: rgb(21, 1, 1); 
    }


.Calculator > .bnt-grid > .operator{
color: rgb(119, 5, 45);
transition: background-color 1s  ease-out;
 }